main {
    display: flex;
    flex-direction: column;
}

input {
    display: flex;
    flex-direction: column;
    padding-inline: 6px;
    padding-block: 3px;

}

.main__login {
    display: flex;
    align-items: center;
}

.img__login {
    display: flex;

    width: 6.3125rem;
    height: 0.875rem;
    margin-top: 5.0625rem;
}

.login__section {
    background-color: var(--color-grey-3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2.0875rem;
    border-radius: 0.625rem;

    width: 18.5rem;
    height: 25.1681rem;

}

.login__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.1031rem;
}

.login__form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1.1031rem;

}

.emailLogin__input {
    display: flex;
    flex-direction: column;
    width: 16.2937rem;
    height: 3.76rem;


    &.headline {
        font-size: 0.625rem;
        text-align: left;
    }
}

.email__input {
    display: flex;
    flex-direction: column;

    background-color: var(--color-grey-2);
    width: 15.75rem;
    height: 2rem;
    border-radius: 0.2006rem;
    border: 0.0612rem;
    border-color: var(--color-grey-0);
    color: var(--color-grey-0);

    font-weight: 400;
    font-size: 0.8144rem;
    line-height: 1.3231rem;
    text-align: left;
    border: 0.5px solid var(--color-grey-0);

}

.passwordLogin__input {
    display: flex;
    flex-direction: column;
    width: 16.2937rem;
    height: 3.76rem;
    margin-bottom: 20px;

    &.headline {
        font-size: 0.625rem;
        text-align: left;
    }
}

.password__input {
    display: flex;
    flex-direction: column;
    background-color: var(--color-grey-2);
    width: 15.75rem;
    height: 2rem;
    border-radius: 0.2006rem;
    border: 0.0612rem;
    border-color: var(--color-grey-0);
    color: var(--color-grey-0);
    font-weight: 400;
    font-size: 0.8144rem;
    line-height: 1.3231rem;
    text-align: left;
    border: 0.5px solid var(--color-grey-0);

}

.input__password {
    position: relative;
}

.registerPage__main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registerPage__header {
    display: flex;
    width: 18.75rem;
    justify-content: space-between;
    margin-top: 2.8125rem;
}

.img__register {
    display: flex;

}

.back__btn {
    display: flex;
}

.back {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 79.54px;
    height: 31.95px;
    border-radius: 3.2px;
    background-color: var(--color-grey-3);

    color: var(--color-grey-1);
    font-weight: 600;
    font-size: 0.7rem;
    line-height: 0.875rem;
    text-align: center;

}

.register__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.4375rem;
    width: 18.4375rem;
    height: auto;
    background-color: var(--color-grey-3);
    padding: 1.25rem;
    padding-top: 3.125rem;
    border-radius: 0.625rem;
}

.register__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 100%;

}

.registerForm__div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.registerForm {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 25px;
    width: 100%;
    height: 100%;

    &.headline2 {
        text-align: left;
        font-weight: 800;
    }

    &>div>input {
        width: 96%;
        height: 27.75px;
        background-color: var(--color-grey-2);
        border: none;
        border-radius: 4px;

        color: var(--color-grey-1);
        font-family: Inter;
        font-weight: 500;
        font-size: 0.625rem;
        line-height: 0.875rem;
        text-align: left;

        margin-top: 0.625rem;

    }

    &>div>div>button {
        left: 16.25rem;
        bottom: 0.375rem;

        background-color: var(--color-grey-2);
    }

    &>div>div>input {
        width: 96%;
        height: 1.7344rem;
        padding-inline: 6px;
        padding-block: 3px;
        background-color: var(--color-grey-2);
        border: none;
        border-radius: 4px;
        color: var(--color-grey-0);

        color: var(--color-grey-1);
        font-family: Inter;
        font-weight: 500;
        font-size: 0.625rem;
        line-height: 0.875rem;
        text-align: left;
        margin-top: 0.625rem;

    }

    &>div>select {
        display: flex;
        margin-top: 0.625rem;
        width: 100%;
        height: 2.1094rem;
        background-color: var(--color-grey-2);
        border: none;
        border-radius: 4px;
        color: var(--color-grey-0);

        color: var(--color-grey-1);
        font-family: Inter;
        font-weight: 600;
        font-size: 0.625rem;
        line-height: 0.875rem;
        text-align: left;



    }
}

.main__dashboard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 84%;
    gap: 10px;
    margin-inline: 8%;
}

.header__dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 73px;

}

.welcome__dashboard {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-top: 1px solid var(--color-grey-1);
    padding-top: 20px;
    padding-bottom: 20px;
}